* {
    margin: 0;
}

body {
  width: 800px;
  margin: 0px auto;
}

header {
  display: flex;
}

section, footer {
  margin-top: 30px;
}

.contact-info {
  display: block;
  margin-left: 30px;
}

h1 {
  font-size: 48px;
}

h1,
h2 {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2f4f4f;
}

p,
ul {
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 24px;
  color: #696969;
}

pre {
  line-height: 18px;
  font-weight: 600;
  background-color: #f0f0f0;
}

a {
  font-family: Verdana, Tahoma, sans-serif;
  color: #696969;
}

a:hover {
  color: #c73b10;
}

.footer {
  display: flex;
  align-items: center;
}

.github-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.github-link a {
  color: #000;
  text-decoration: none;
}

.github-link:hover a {
  color: #c73b10;
}

.github-logo {
  width: 50px;
  height: 50px;
}

.rs-logo {
  width: 100px;
  height: 100px;
}